$primary-color: #d10024
$light-color: #fff
$dark-color: #333
$gray-text-color: #b9babc
$bg-color: #15161d
$secondary-bg-color: #1E1F29
$section-bg-color: #e4e7ed
$link-color: #282d42
$container-width: 1170px
